.App {
  font-family: sans-serif;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #dad5cb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  margin: 0;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 30px;
  max-width: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.container h3 {
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
}

.table {
  margin: 20px 0;
  width: 100%;
}

.table tr > *:nth-child(1) {
  text-align: left;
}

.table tr td:nth-child(1) {
  letter-spacing: 1px;
}

.table tr > *:nth-child(2) {
  text-align: center;
}

.table tr > *:nth-child(3) {
  font-weight: 300;
  text-align: right;
}

.table thead th {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.table tr td {
  border-bottom: 1px dotted #ccc;
  padding: 10px 0;
}

.total {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 2px solid #c23616;
  border-radius: 50px;
  color: #c23616;
  font-size: 16px;
  padding: 5px 15px;
  letter-spacing: 2px;
  margin: auto;
  text-transform: uppercase;
}
